.welcome-container {
  background-image: url(./assets/greatHall.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.green {
  background: #0d6217;
  color: #aaaaaa;
}

.blue {
  background: #0e1a40;
  color: #cc8e34;
}

.yellow {
  background: #ffed86;
  color: #000;
}

.scarlet {
  background: #7f0909;
  color: #ffc500;
}

.slytherin-badge-style {
  background: #1a472a;
  color: #aaa;
}

.ravenclaw-badge-style {
  background: #222f5b;
  color: #cc8e34;
}

.hufflepuff-badge-style {
  background: #ecb939;
  color: #000;
}

.gryffindor-badge-style {
  background: #ae0001;
  color: #ffc500;
}
